{% extends "base.html" %}

{% block content %}
    <div class="col-4 offset-4 text-center">
        <a href="/" class="btn btn-primary">Go Home</a>
        <div class="card mt-3">
            <div class="card-header">
                <h4>{{ todo.name }}</h4>
            </div>
            <div class="card-body">
                <p>Due: {{ todo.due_date }}</p>
            </div>
            <div class="card-footer">
                <a href="/{{ todo.id }}/update" class="btn btn-secondary">Update this todo</a>
                <a href="/{{ todo.id }}/delete" class="btn btn-secondary">Delete this todo</a>
            </div>
        </div>
    </div>
{% endblock %}